<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Off" internalLogFile="internalLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!-- write to file -->
    <target xsi:type="File"
            name="alldata"
            fileName="logs\${shortdate}.log"
            archiveAboveSize="52428800"
            maxArchiveFiles="30"
            layout="${longdate}|${threadid}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=type,message,StackTrace}"
    />
    <!-- another file log. Uses some ASP.NET core renderers -->
    <target xsi:type="Console" name="console" layout="${longdate}|${threadid}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}${exception:format=type,message,StackTrace}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="alldata" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>
